.activity {
	display: flex;
	align-items: center;
	&:not(:last-child) {
		margin-bottom: 40px;
	}
	.activityColor {
		width: 70px;
		height: 70px;
		border-radius: 5px;
		background-color: #F1F5F9;
		cursor: pointer;
		position: relative;
		.colorPicker {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 100;
			background-color: white;
			padding: 20px;
			border-radius: 5px;
			box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		}
		.cover {
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			position: fixed;
			cursor: default;
			z-index: 50;
		}
	}
	.activityInput {
		padding: 10px 20px;
		background-color: #F1F5F9;
		border-radius: 5px;
		margin: 0 20px;
		width: 300px;
		input {
			transition: .2s ease-in-out;
			background-color: #F1F5F9;
			border: 1px solid #F1F5F9;
			padding: 5px 10px;
			border-radius: 3px;
			width: 100%;
		}
		&:hover {
			input {
				border: 1px solid #E2E8F0;
			}
		}
	}
	.activityRemove {
		width: 70px;
		height: 70px;
		border-radius: 5px;
		background-color: #F1F5F9;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			background-color: #0F172A;
			mask-image: url('../../../assets/images/remove-icon.svg');
			mask-size: 30px 30px;
			width: 30px;
			height: 30px;
			display: inline-block;
		}
	}
}